/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* quadratino dovrà diventare gradualmente rosso quando l'utente e on hover con il mouse */

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}
/* fine 1° es */

/* Cliccando, il nostro quadratino diventerà gradualmente un enorme rettangolo */

.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: width 2s;
}
/* fine 2° es */

/* quadratino si trasforma. con hover diventerà gradualmente un cerchio */

.ex-3-square:hover{
  border-radius: 100%;
}

.ex-3-square{
  transition: border-radius 2s;
}
/* fine 3° es */

/* quadratino scomparirà gradualmente */

.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: opacity 2s;
}
/* fine 4° es */





